body {
  font-family: 'Open Sans', sans-serif;
  background-color: #4F6367;
  color: white;
}


/* --- top section ---*/
header {
  border: solid 1px green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

#top-right {
  display: flex;
  align-items: center;
  border: 1px solid chartreuse;
  justify-content: space-between;
  width: 150px;
}

#hamburger {
  height: 30px;
  width: 40px;
}

#title {
}

#profile-pic {
  height: 30px;
}

/* --- middle section ---*/

.main-body {
  display: flex;
  border: solid 1px #5aebad;
  justify-content: center;
  height: 90%;
}


/* --- middle left ---*/

#navigation {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: solid 1px red;
  justify-content: space-around;
  margin-right: 5%;
}

.nav-cards {
  height: 80px;
  margin-left: 10%;
  margin-right: 10%;
  color: #4F6367;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard-nav,
.calendar {
  background-color: #B8D8D8;
}

.view-routes {
  background-color: #7A9E9F;
  color: white;
}

.goals {
  background-color: #EEF5DB;
}


/* --- middle right --- */

.card-info {
  border: 1px solid darksalmon;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
}

.person-card {
  display: flex;
  border: 1px solid orchid;
  align-items: center;

}
.leaderboard-arrows {
  display: none;
}

.person-pic {
  border: 1px solid burlywood;
  height: 100%;
}

.person-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card-names,
.route-time {
  margin: 5px
}

.route-time {
  color: #EEF5DB;
}

#leaderboard-title {
  margin-bottom: 5px;
}

/* --- footer ---*/

footer {
  margin: 5%;
  text-align: center;
  color: #EEF5DB;
  font-weight: 300;
}

@media screen and (max-width: 930px) {



}
